<a href="https://colab.research.google.com/github/sujata1606/Data-Science-Practice/blob/main/Dummy_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Dummy variables or how to deal with categorical predictors

Import the relevant libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

Load the data

In [ ]:
df = pd.read_csv('Dummies.csv')
df

     SAT   GPA Attendance
0   1714  2.40         No
1   1664  2.52         No
2   1760  2.54         No
3   1685  2.74         No
4   1693  2.83         No
..   ...   ...        ...
79  1936  3.71        Yes
80  1810  3.71        Yes
81  1987  3.73         No
82  1962  3.76        Yes
83  2050  3.81        Yes

[84 rows x 3 columns]

In [ ]:
dummies = pd.get_dummies(df['Attendance'])
dummies

    No  Yes
0    1    0
1    1    0
2    1    0
3    1    0
4    1    0
..  ..  ...
79   0    1
80   0    1
81   1    0
82   0    1
83   0    1

[84 rows x 2 columns]

In [ ]:
merge = pd.concat([df,dummies],axis='columns')
merge

     SAT   GPA Attendance  No  Yes
0   1714  2.40         No   1    0
1   1664  2.52         No   1    0
2   1760  2.54         No   1    0
3   1685  2.74         No   1    0
4   1693  2.83         No   1    0
..   ...   ...        ...  ..  ...
79  1936  3.71        Yes   0    1
80  1810  3.71        Yes   0    1
81  1987  3.73         No   1    0
82  1962  3.76        Yes   0    1
83  2050  3.81        Yes   0    1

[84 rows x 5 columns]

In [ ]:
final = merge.drop(['Attendance'],axis='columns')
final

     SAT   GPA  No  Yes
0   1714  2.40   1    0
1   1664  2.52   1    0
2   1760  2.54   1    0
3   1685  2.74   1    0
4   1693  2.83   1    0
..   ...   ...  ..  ...
79  1936  3.71   0    1
80  1810  3.71   0    1
81  1987  3.73   1    0
82  1962  3.76   0    1
83  2050  3.81   0    1

[84 rows x 4 columns]

In [ ]:
final.columns

Index(['SAT', 'GPA', 'No', 'Yes'], dtype='object')

In [ ]:
predictors = ['SAT','No','Yes']
x = final[predictors]
y = final['GPA']

In [ ]:
x.shape,y.shape

((84, 3), (84,))

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2 , random_state =43)

In [ ]:
x_train.shape,x_test.shape

((67, 3), (17, 3))

In [ ]:
y_train.shape,y_test.shape

((67,), (17,))

In [ ]:
reg = LinearRegression()
model = reg.fit(x_train,y_train)

In [ ]:
model.predict([[1714,1,0]])

array([3.09333953])

In [ ]:
model.score(x_test,y_test)

0.39092850124682077

In [ ]:
model.score(x_train,y_train)

0.6297078706209581