<a href="https://colab.research.google.com/github/sujata1606/Data-Science-Practice/blob/main/SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import Libraries**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('/content/Social_Network_Ads.csv')
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [4]:
df.isnull().sum()

Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [19]:
X = df.drop(['Purchased'],axis=1)
y = df['Purchased']

**Split Train and Test datasets**

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.25,random_state=42)

In [10]:
X_train

     Age  EstimatedSalary
247   57           122000
110   39            71000
16    47            25000
66    24            19000
153   36            50000
..   ...              ...
71    24            27000
106   26            35000
270   43           133000
348   39            77000
102   32            86000

[300 rows x 2 columns]

In [11]:
X_test

     Age  EstimatedSalary
209   46            22000
280   59            88000
33    28            44000
210   48            96000
93    29            28000
..   ...              ...
314   39            79000
373   59           130000
380   42            64000
239   53           143000
75    34           112000

[100 rows x 2 columns]

**Apply SVM Algorithm**

In [12]:
from sklearn.svm import SVC

In [13]:
svmAlgo = SVC()

In [14]:
model = svmAlgo.fit(X_train,y_train)

In [22]:
y_preds = svmAlgo.predict(X_test)

In [16]:
model.score(X_train,y_train)

0.7833333333333333

In [20]:
model.score(X_test,y_test)

0.75

In [23]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_preds)

0.75