<a href="https://colab.research.google.com/github/sujata1606/Data-Science-Practice/blob/main/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import Libraries**

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("/content/Social_Network_Ads.csv")
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

**Standardize the Variables**

In [4]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [5]:
scaler.fit(df.drop('Purchased',axis=1))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [6]:
scaled_features = scaler.transform(df.drop('Purchased',axis=1))

In [7]:
df_feat = pd.DataFrame(scaled_features,columns=df.columns[:-1])
df_feat.head()

        Age  EstimatedSalary
0 -1.781797        -1.490046
1 -0.253587        -1.460681
2 -1.113206        -0.785290
3 -1.017692        -0.374182
4 -1.781797         0.183751

**Split Train and Test datasets**

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
x_train,x_test,y_train,y_test = train_test_split(scaled_features,df['Purchased'],test_size=0.30)

**Apply KNN Algo**

In [29]:
from sklearn.neighbors import KNeighborsClassifier

In [11]:
knn = KNeighborsClassifier(n_neighbors=1) #initialize with k=1

In [13]:
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [15]:
preds = knn.predict(x_test)

Predictions and Evaluations

In [16]:
from sklearn.metrics import classification_report,confusion_matrix

In [18]:
print(classification_report(y_test,preds))

              precision    recall  f1-score   support

           0       0.90      0.86      0.88        77
           1       0.77      0.84      0.80        43

    accuracy                           0.85       120
   macro avg       0.84      0.85      0.84       120
weighted avg       0.85      0.85      0.85       120

In [17]:
print(confusion_matrix(y_test,preds))

[[66 11]
 [ 7 36]]

In [20]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,preds)*100

85.0

In [36]:
#Now with k=10
knn = KNeighborsClassifier(n_neighbors=10)

In [35]:
knn.fit(x_train,y_train)
pred = knn.predict(x_test)
accuracy_score(y_test,preds)*100

52.5