<a href="https://colab.research.google.com/github/sujata1606/Data-Science-Practice/blob/main/Using_map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
data=pd.read_csv('Dummies.csv')
data

     SAT   GPA Attendance
0   1714  2.40         No
1   1664  2.52         No
2   1760  2.54         No
3   1685  2.74         No
4   1693  2.83         No
..   ...   ...        ...
79  1936  3.71        Yes
80  1810  3.71        Yes
81  1987  3.73         No
82  1962  3.76        Yes
83  2050  3.81        Yes

[84 rows x 3 columns]

In [ ]:
data = data.copy()

In [ ]:
data['Attendence']= data['Attendance'].map({'Yes' : 1, 'No': 0})
data

     SAT   GPA Attendance  Attendence
0   1714  2.40         No           0
1   1664  2.52         No           0
2   1760  2.54         No           0
3   1685  2.74         No           0
4   1693  2.83         No           0
..   ...   ...        ...         ...
79  1936  3.71        Yes           1
80  1810  3.71        Yes           1
81  1987  3.73         No           0
82  1962  3.76        Yes           1
83  2050  3.81        Yes           1

[84 rows x 4 columns]

In [ ]:
data.describe()

               SAT        GPA  Attendence
count    84.000000  84.000000   84.000000
mean   1845.273810   3.330238    0.464286
std     104.530661   0.271617    0.501718
min    1634.000000   2.400000    0.000000
25%    1772.000000   3.190000    0.000000
50%    1846.000000   3.380000    0.000000
75%    1934.000000   3.502500    1.000000
max    2050.000000   3.810000    1.000000

In [ ]:
y = data['GPA']
x = data[['SAT', 'Attendence']]

In [ ]:
x.shape,y.shape

((84, 2), (84,))

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2 , random_state =43)

In [ ]:
x_train.shape,x_test.shape

((67, 2), (17, 2))

In [ ]:
y_train.shape,y_test.shape

((67,), (17,))

In [ ]:
reg = LinearRegression()
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred=reg.predict([[1714,0]])
y_pred

array([3.09333953])

In [ ]:
model.score(x_test,y_test)

0.390928501246821

In [ ]:
model.score(x_train,y_train)

0.6297078706209581